* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  color: var(--color);
  font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
}

h1 {
  font-weight: 500;
}

p {
  margin: 40px 0 0;
}

.head {
  margin: 10px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head a:link,
.head a:visited {
  background-color: var(--color-white);
  color: var(--link-color);
  border: 2px solid var(--bg-color);
  margin: 0 0 0 20px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.1s ease;
}

.head a:hover,
.head a:active {
  background-color: var(--bg-color);
  color: var(--color-white);
  border-width: 1px;
  border-color: #1d1a30;
  transition: all 0.2s ease;
}

#grid figure {
  margin: 0;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 1px 5px #dddddd;
  border-radius: 10px;
}

#grid figcaption {
  padding: 10px 0;
  background-color: #fdfdfd;
}

#grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  background-color: var(--bg-color);
}

@media screen and (max-width: 768px) {
  body {
    width: 90%;
    padding: 20px 0;
  }

  #nav {
    display: flex;
    flex-direction: column;
    flex-basis: 85px;
    font-size: 14px;
  }

  .head a:link,
  .head a:visited {
    padding: 2px 5px;
    margin: 0;
  }

  .head a:first-child {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 319px) {
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 20px;
  }
}
